parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Authorization/Gate.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, mixed given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: app/Core/Authorization/Gate.php

		-
			message: '#^Variable method call on object\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Authorization/Gate.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: app/Core/Authorization/Policy.php

		-
			message: '#^Variable property access on object\.$#'
			identifier: property.dynamicName
			count: 1
			path: app/Core/Authorization/Policy.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Cache/RedisStore.php

		-
			message: '#^Call to static method get\(\) on an unknown class App\\Core\\Config\\CompiledConfig\.$#'
			identifier: class.notFound
			count: 1
			path: app/Core/Config/Config.php

		-
			message: '#^Call to static method has\(\) on an unknown class App\\Core\\Config\\CompiledConfig\.$#'
			identifier: class.notFound
			count: 1
			path: app/Core/Config/Config.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Console/Commands/AssetsBuildCommand.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Console/Commands/AssetsBuildCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Console/Commands/AssetsPublishCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Console/Commands/CodeStatsCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 6
			path: app/Core/Console/Commands/HealthCheckCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Console/Commands/HelpCommand.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Console/Commands/HelpCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/Console/Commands/IndexReindexCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Console/Commands/InstallCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/Console/Commands/KeyGenerateCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Console/Commands/MetricsShowCommand.php

		-
			message: '#^Foreach overwrites \$hour with its key variable\.$#'
			identifier: foreach.keyOverwrite
			count: 1
			path: app/Core/Console/Commands/MetricsShowCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: app/Core/Console/Commands/ModuleListCommand.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Console/Commands/ModuleListCommand.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 12
			path: app/Core/Console/Commands/SetupCommand.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 3
			path: app/Core/Container/BindingResolutionException.php

		-
			message: '#^Variable method call on App\\Core\\Contracts\\Database\\ConnectionInterface\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Database/DatabaseManager.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Database/Factory.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Database/Model.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, mixed given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: app/Core/Database/Model.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: app/Core/Database/Model.php

		-
			message: '#^Variable method call on \$this\(App\\Core\\Database\\Model\)\.$#'
			identifier: method.dynamicName
			count: 3
			path: app/Core/Database/Model.php

		-
			message: '#^Variable method call on App\\Core\\Database\\ModelQueryBuilder\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Database/Model.php

		-
			message: '#^Variable method call on static\(App\\Core\\Database\\Model\)\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Database/Model.php

		-
			message: '#^Variable method call on App\\Core\\Database\\QueryBuilder\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Database/ModelQueryBuilder.php

		-
			message: '#^App\\Core\\Database\\Relations\\BelongsTo\:\:__construct\(\) does not call parent constructor from App\\Core\\Database\\Relations\\Relation\.$#'
			identifier: constructor.missingParentCall
			count: 1
			path: app/Core/Database/Relations/BelongsTo.php

		-
			message: '#^App\\Core\\Database\\Relations\\BelongsToMany\:\:__construct\(\) does not call parent constructor from App\\Core\\Database\\Relations\\Relation\.$#'
			identifier: constructor.missingParentCall
			count: 1
			path: app/Core/Database/Relations/BelongsToMany.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/Database/Relations/BelongsToMany.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 9
			path: app/Core/Error/HttpException.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 6
			path: app/Core/Http/Cookie.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Http/JsonResponse.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 3
			path: app/Core/Http/JsonResponse.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Http/Kernel.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/Http/MetricsEndpoint.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Http/Middleware/Pipeline.php

		-
			message: '#^Variable method call on object\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Http/Middleware/Pipeline.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Http/Middleware/ResponseCacheMiddleware.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: app/Core/Http/Middleware/VerifyCsrfToken.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: app/Core/Http/RedirectResponse.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Http/Request.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: app/Core/Http/Request.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Http/Response.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Queue/Job.php

		-
			message: '#^Variable method call on App\\Core\\Contracts\\Log\\LoggerInterface\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Queue/QueueWorker.php

		-
			message: '#^Casting to int something that''s already int\.$#'
			identifier: cast.useless
			count: 1
			path: app/Core/Redis/RedisManager.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/Redis/RedisManager.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Routing/Route.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: app/Core/Routing/Router.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Routing/Router.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Routing/UrlGenerator.php

		-
			message: '#^Variable static method call on App\\Core\\Security\\Sanitizer\.$#'
			identifier: staticMethod.dynamicName
			count: 1
			path: app/Core/Security/Sanitizer.php

		-
			message: '#^Access to an undefined property App\\Core\\Session\\RedisSessionHandler\:\:\$connection\.$#'
			identifier: property.notFound
			count: 2
			path: app/Core/Session/RedisSessionHandler.php

		-
			message: '#^Access to an undefined property App\\Core\\Session\\RedisSessionHandler\:\:\$prefix\.$#'
			identifier: property.notFound
			count: 7
			path: app/Core/Session/RedisSessionHandler.php

		-
			message: '#^Access to an undefined property App\\Core\\Session\\RedisSessionHandler\:\:\$redis\.$#'
			identifier: property.notFound
			count: 2
			path: app/Core/Session/RedisSessionHandler.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Session/RedisSessionHandler.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: app/Core/Session/RedisSessionHandler.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/Setup/SchemaProcessor.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Support/Arr.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Support/EnvManager.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/Core/Support/Facades/Facade.php

		-
			message: '#^Variable method call on mixed\.$#'
			identifier: method.dynamicName
			count: 1
			path: app/Core/Support/Facades/Facade.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: app/Core/Support/HealthCheck.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/Support/Str.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/Core/Validation/Validator.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Validation/Validator.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 4
			path: app/Core/View/Asset/AssetManager.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: app/Core/View/HandleGenerator.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Core/View/Layout/LayoutRenderer.php
