<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="app/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory="var/cache/.phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         stopOnError="false"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>app/base/core</directory>
            <directory>app/base/helpers</directory>
        </include>
        <exclude>
            <directory>app/modules</directory>
        </exclude>
    </source>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="SITE_NAME" value="Portfolio Test"/>
        <env name="SITE_URL" value="http://localhost"/>
        <env name="CSRF_ENABLED" value="false"/>
        <env name="HTTPS_ONLY" value="false"/>
    </php>
    
</phpunit>
