<?xml version="1.0"?>
<!--
/**
 * SEO Module Routes (Frontend only)
 * Admin routes are in etc/adminhtml/routes.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <router id="frontend">
        <route id="seo" frontName="seo">
            <module name="Infinri_Seo"/>
        </route>
    </router>
</config>
