<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:infinri:framework:Admin/etc/menu.xsd">
    <menu>
        <!-- Media Manager - Inject into Content section -->
        <add id="Infinri_Core::media" 
             title="Media Manager" 
             module="Infinri_Core" 
             parent="Infinri_Admin::content"
             sortOrder="30" 
             action="admin/infinri_media/media/index" 
             resource="Infinri_Core::media"/>
    </menu>
</config>
