<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:infinri:framework:Admin/etc/menu.xsd">
    <menu>
        <!-- Dashboard -->
        <add id="Infinri_Admin::dashboard" 
             title="Dashboard" 
             module="Infinri_Admin" 
             sortOrder="10" 
             action="admin/dashboard/index" 
             resource="Infinri_Admin::dashboard"/>
        
        <!-- Content Section -->
        <add id="Infinri_Admin::content" 
             title="Content" 
             module="Infinri_Admin" 
             sortOrder="20" 
             resource="Infinri_Admin::content"/>
        
        <!-- System Section -->
        <add id="Infinri_Admin::system" 
             title="System" 
             module="Infinri_Admin" 
             sortOrder="90" 
             resource="Infinri_Admin::system"/>
        
        <!-- System > Users -->
        <add id="Infinri_Admin::system_users" 
             title="Admin Users" 
             module="Infinri_Admin" 
             sortOrder="10" 
             parent="Infinri_Admin::system"
             action="admin/users/index" 
             resource="Infinri_Admin::system_users"/>
    </menu>
</config>
